<form [formGroup]="userForm" (ngSubmit)="userDataDisplay()">
  <section *ngFor="let member of totalMembers">
    <div>
      <label >{{member}}'s FullName: </label>
      <input type="text" placeholder="Enter FullName" formControlName="{{member}}_fullName">

      <label >Age: </label>
      <input type="number" placeholder="Enter FullName" formControlName="{{member}}_age">

      <label >Height: </label>
      <input type="number" placeholder="Enter FullName" formControlName="{{member}}_height">

      <label >Weight: </label>
      <input type="number" placeholder="Enter FullName" formControlName="{{member}}_weight">
    </div>
    <hr>
  </section>
  <button type="submit">Submit</button>
</form>